.aboutContainer {
  display: inline-flex;
}

.aboutDescContainer {
  width: 50%;
}

.textContainer {
  padding-left: 400px;
  font-size: 20px;
}

.aboutImgContainer {
  width: 50%;
}

.headshot {
  border-radius: 50%;
  padding-left: 100px;
}
