.descriptionWrapper {
  font-family: 'Arial';
  font-size: large;
  width: 25dvw;
  margin-left: 5px;
}

.description {
  margin: 10px 0px;
}



/** Responsive Views **/

/* Medium Screen */
@media (max-width: 1500px) {
  .descriptionWrapper { width: 85dvw; margin: 0px auto; }
}
