.navContainer {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.linksContainer {
  display: inline-flex;
  background-color: #fdfdfd;
  border: 1px solid grey;
  border-radius: 50px;
  box-shadow: 0px 1px 5px 1px rgb(189, 189, 189);
  padding: 0px 20px;
}

.links {
  font-size: 20px;
  padding: 0px 20px;
  text-decoration: none;
  color: black;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.links:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}