body {
  margin: 0px;
  padding: 0px;
}

.middleContent {
  display: inline-flex;
  margin-top: 175px;
  height: calc(100vh - 175px);
  width: 100%;
}

.logoContainer {
  width: 50%;
  text-align: right;
}

.descriptionContainer {
  width: 50%;
}

.descriptionInnerContainer {
  padding-left: 50px;
}

.title {
  font-size: 50px;
  font-weight: 550;
  margin-bottom: 0px;
}

.fadeIn {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

.aboutMe {
  background: linear-gradient(177deg, #fafafa 80%, #ffffff 100%);
  padding: 100px 0px 250px 0px;
  border-top-left-radius: 30%;
}